html {
    font-family: poppins;
}

body {
    background-color: rgb(212, 212, 212);
}

.cabecalho {
    background-color: rgb(8, 36, 249);
    padding: 10px 5px;
    border: initial;
}

.cabecalho .logo {
    display: inline;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    max-width: 900px;
    min-width: 295px;
    margin: 0 auto;
}

main p {
    font-size: 16px;
    padding: 10px;
}

main .info {
    font-size: 16px;
}

.image img {
    width: 100%;
}

iframe {
    width: 100%;
}

li {
    list-style: none;
}


.label {
    color: red;
    font-weight: bold;
    padding-left: 10px;
    margin: 5px;
}


.logo::after {
    content: url(png-camera-cinema.png);
    /* --- PSEUDO-ELEMENTO --- */
}

a:not([target="_blank"]){
    text-decoration: none;
    color: rgb(105, 105, 105);
}


a[target=_blank]{
    color: yellow;
}


input[type=text], 
input[type=password]
{
    display: inline-block;
    width: 334px;
}

input[type=submit],
input[type=radio]{
    color: rgb(50, 50, 50);
    padding: 5px;
    margin-top: 15px;
}

.formulario {
    background-color: rgb(153, 153, 153);
    padding: 20px;
    border: inset;
}














/* --------- Mediaa Queries --------- */

@media (max-width: 575px){
    .cabecalho {
        text-align: center;
    }

    .cabecalho nav {
        float: none;
    }

    .cabecalho nav li {
        display: block;
    }

    iframe {
        width: 100%;
        height: 300px;
    } 

}